<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>DSDT</key>
		<dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<true/>
				<key>AddPNLF</key>
				<false/>
				<key>Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>FixAirport</key>
				<true/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<true/>
				<key>FixIPIC</key>
				<true/>
				<key>FixLAN</key>
				<true/>
				<key>FixRTC</key>
				<true/>
				<key>FixTMR</key>
				<true/>
			</dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>SSDT: change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Audio: change HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IGPU: change HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IGPU: change MEI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TUVJXw==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IGPU: change GFX0 to IGPU</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R0ZYMA==
					</data>
					<key>Replace</key>
					<data>
					SUdQVQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: change ECXP to XCXP</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUNYUA==
					</data>
					<key>Replace</key>
					<data>
					WENYUA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: change _BIF to XBIF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0JJRg==
					</data>
					<key>Replace</key>
					<data>
					WEJJRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: change _BST to XBST</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0JTVA==
					</data>
					<key>Replace</key>
					<data>
					WEJTVA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Battery: change ECBE to XCBE</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUNCRQA=
					</data>
					<key>Replace</key>
					<data>
					WENCRQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Instant Wake: change GPRW to XPRW</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					R1BSVwJwaA==
					</data>
					<key>Replace</key>
					<data>
					WFBSVwJwaA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>I2C: change USTP, 8 to XSTP, 8</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					VVNUUAg=
					</data>
					<key>Replace</key>
					<data>
					WFNUUAg=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>I2C: change SBFI to SBFS</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					i1NCRkk=
					</data>
					<key>Replace</key>
					<data>
					i1NCRlM=
					</data>
					<key>TgtBridge</key>
					<data>
					VFBBRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>I2C: change return value to SBFS</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					hFNCRkJTQkZJAA==
					</data>
					<key>Replace</key>
					<data>
					hFNCRkJTQkZTAA==
					</data>
					<key>TgtBridge</key>
					<data>
					VFBBRA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Fn: change _Q14 to XQ14</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNA==
					</data>
					<key>Replace</key>
					<data>
					WFExNA==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Fn: change _Q15 to XQ15</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X1ExNQ==
					</data>
					<key>Replace</key>
					<data>
					WFExNQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RTC: change _STA to XSTA</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>
					X1NUQQ==
					</data>
					<key>Replace</key>
					<data>
					WFNUQQ==
					</data>
					<key>TgtBridge</key>
					<data>
					UlRDTw==
					</data>
				</dict>
			</array>
			<key>Rtc8Allowed</key>
			<true/>
			<key>SuspendOverride</key>
			<true/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>_PNLFCFL</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>NDGP</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>_UIAC</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>bat0</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>XPRW</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>_ALS0</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>XOSI</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>TPAD</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
		</dict>
		<key>SortedOrder</key>
		<array>
			<string>SSDT-PNLFCFL.aml</string>
			<string>SSDT-DDGPU.aml</string>
			<string>SSDT-BATT.aml</string>
			<string>SSDT-GPRW.aml</string>
			<string>SSDT-ALS0.aml</string>
			<string>SSDT-XOSI.aml</string>
			<string>SSDT-FN.aml</string>
			<string>SSDT-ECUSBX.aml</string>
		</array>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-igfxnohdmi debug=0x100 -alcbeta alcid=88 keepsyms=1 abm_firstpolldelay=16000 darkwake=0 nv_disable=1</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>C2</key>
		<true/>
		<key>C4</key>
		<true/>
		<key>C6</key>
		<true/>
	</dict>
	<key>Comment</key>
	<string>This file is for 10.14.x with native CoffeeLake support</string>
	<key>Devices</key>
	<dict>
		<key>AddProperties</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Inject "name" as (data)"#display" to disable graphics drivers on NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>name</string>
				<key>Value</key>
				<data>
				I2Rpc3BsYXkA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "IOName" as "#display" to disable graphics drivers on NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>IOName</string>
				<key>Value</key>
				<string>#display</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for NVidia</string>
				<key>Device</key>
				<string>NVidia</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>class-code</string>
				<key>Value</key>
				<data>
				/////w==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "name" as (data)"#display" to disable graphics drivers on AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>name</string>
				<key>Value</key>
				<data>
				I2Rpc3BsYXkA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject "IOName" as "#display" to disable graphics drivers on AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>IOName</string>
				<key>Value</key>
				<string>#display</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus class-code to prevent graphics drivers loading for AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>class-code</string>
				<key>Value</key>
				<data>
				/////w==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus vendor-id to prevent graphics drivers loading for AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>vendor-id</string>
				<key>Value</key>
				<data>
				//8AAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject bogus device-id to prevent graphics drivers loading for AMD</string>
				<key>Device</key>
				<string>ATI</string>
				<key>Disabled</key>
				<false/>
				<key>Key</key>
				<string>device-id</string>
				<key>Value</key>
				<data>
				//8AAA==
				</data>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>88</integer>
			<key>ResetHDA</key>
			<false/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>#IntelGFX</key>
			<string>0x59168086</string>
			<key>#Kaby Lake-Comment</key>
			<string>To avoid automatic Clover fake device-id (Skylake) injection</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>device-id</key>
				<data>
				cKEAAA==
				</data>
				<key>layout-id</key>
				<data>
				WAAAAA==
				</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AACbPg==
				</data>
				<key>device-id</key>
				<data>
				mz4AAA==
				</data>
				<key>disable-external-gpu</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con0-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con0-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>framebuffer-con1-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con1-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>framebuffer-con2-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-con2-pipe</key>
				<data>
				EgAAAA==
				</data>
				<key>framebuffer-fbmem</key>
				<data>
				AACQAA==
				</data>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-stolenmem</key>
				<data>
				AAAwAQ==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Hidden</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>NoCaches</key>
					<false/>
					<key>Type</key>
					<string>OSXRecovery</string>
				</dict>
				<dict>
					<key>Disabled</key>
					<false/>
					<key>Ignore</key>
					<false/>
					<key>Title</key>
					<string>Windows</string>
					<key>Type</key>
					<string>Windows</string>
				</dict>
			</array>
		</dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>Hasee</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>#EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>#ig-platform-id</key>
		<string>0x3e9b0000</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ILniAAAADzA=
				</data>
				<key>Replace</key>
				<data>
				ILniAAAAkJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				igKEwHRE
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>
				igKEwOtE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 release kernel (credit vit9696)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				igKEwHRC
				</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>
				igKEwOtC
				</data>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>disable IOBufferCopyController (Credit by DalianSky)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SU9LaXQ=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>IOBufferCopyController</string>
				<key>Replace</key>
				<data>
				SU9LaXM=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable AppleIntelLpssI2C (credit by Coolstar)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SU9LaXQ=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>
				SU9LaXM=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable AppleIntelLpssI2CCOntroller (credit by Coolstar)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SU9LaXQ=
				</data>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>
				SU9LaXM=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				RiV1VCUwNHgA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>
				RiV1VHh4eHgA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AEFQUExFIFNTRAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>10.13.x USB Port Limit Patch</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g32UDw+DlwQAAA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g32UGpCQkJCQkA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port limit patch 10.14 (credits FredWst)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/sPD4MDBQAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g/sPkJCQkJCQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port limit patch 10.14.1 18B50C (credits DalianSky)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/sPD4OPBAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.1</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g/sPkJCQkJCQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Set the number of active lanes to 4 (for laptop with 4K display) (by FireWolf)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				VUiJ5Uj/BaVGBwCLlsAlAACKjg==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14</string>
				<key>Name</key>
				<string>AppleIntelCFLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				VUiJ5bgEAAAAiYa8JQAAMcBdww==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Set the number of active lanes to 2 (for laptop with 1080p or below display) (by FireWolf)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				VUiJ5Uj/BaVGBwCLlsAlAACKjg==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14</string>
				<key>Name</key>
				<string>AppleIntelCFLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				VUiJ5bgCAAAAiYa8JQAAMcBdww==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Set the number of active lanes to 4 (for laptop with 4K display) (by FireWolf)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				VUiJ5Uj/Bb1KBwCLlsAlAACKjg==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.1</string>
				<key>Name</key>
				<string>AppleIntelCFLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				VUiJ5bgEAAAAiYa8JQAAMcBdww==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Set the number of active lanes to 2 (for laptop with 1080p or below display) (by FireWolf)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				VUiJ5Uj/Bb1KBwCLlsAlAACKjg==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.1</string>
				<key>Name</key>
				<string>AppleIntelCFLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>
				VUiJ5bgCAAAAiYa8JQAAMcBdww==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB port limit patch 10.14.1 10.14.2</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AOCD+w8PhxYEAA==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>IOUSBHostFamily</string>
				<key>Replace</key>
				<data>
				AOCD+z8PhxYEAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port limit patch 10.14.1, 10.14.2</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AACD+w8Pg48EAAA=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				AACD+z8Pg48EAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB port name 10.14.1 10.14.2 (credit ydeng)</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				g+MP0+NBCd8=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>IOUSBHostFamily</string>
				<key>Replace</key>
				<data>
				g+M/0+NBCd8=
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>09/28/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP151.88Z.F000.B00.1809280842</string>
		<key>Board-ID</key>
		<string>Mac-937A206F2EE63C01</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02817700CDJP4F1F</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>220.250.320.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>ProductName</key>
		<string>MacBookPro15,1</string>
		<key>SerialNumber</key>
		<string>C02WM0Q0KGYG</string>
		<key>SmUUID</key>
		<string>10D7B543-06BA-49FD-978A-D909F6F30EFD</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>
