<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>21A559</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>TongfangEnhancer</string>
	<key>CFBundleIdentifier</key>
	<string>com.kirainmoe.TongfangEnhancer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TongfangEnhancer</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13A1030d</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.0</string>
	<key>DTSDKBuild</key>
	<string>21A344</string>
	<key>DTSDKName</key>
	<string>macosx12.0</string>
	<key>DTXcode</key>
	<string>1310</string>
	<key>DTXcodeBuild</key>
	<string>13A1030d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ACPIPS2NubProxy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.kirainmoe.TongfangEnhancer</string>
			<key>Custom PS2 Map</key>
			<array>
				<string>76=64</string>
			</array>
			<key>DebugMode</key>
			<true/>
			<key>IOClass</key>
			<string>ACPIPS2NubProxy</string>
			<key>IONameMatch</key>
			<array>
				<string>PNP0303</string>
				<string>PNP030B</string>
				<string>PNP0320</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>LoadCustomKeymap</key>
			<true/>
		</dict>
		<key>TongfangEnhancer</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.kirainmoe.TongfangEnhancer</string>
			<key>DebugMode</key>
			<true/>
			<key>IOClass</key>
			<string>TongfangEnhancerDriver</string>
			<key>IOProbeScore</key>
			<integer>200</integer>
			<key>IOProviderClass</key>
			<string>VoodooWMIController</string>
			<key>IOUserClientClass</key>
			<string>TongfangEnhancerUserClient</string>
			<key>Platforms</key>
			<dict>
				<key>Tongfang</key>
				<dict>
					<key>GUIDMatch</key>
					<string>ABBC0F72-8EA1-11D1-00A0-C90629100000</string>
					<key>PlainHotkeys</key>
					<array>
						<dict>
							<key>ActionID</key>
							<integer>2</integer>
							<key>KeyCode</key>
							<integer>35</integer>
							<key>Modifiers</key>
							<integer>2048</integer>
							<key>Note</key>
							<string>Fn+F3 =&gt; Opt + P =&gt; Switch Screen Mode</string>
						</dict>
						<dict>
							<key>ActionID</key>
							<integer>4</integer>
							<key>KeyCode</key>
							<integer>105</integer>
							<key>Modifiers</key>
							<integer>6144</integer>
							<key>Note</key>
							<string>Fn+F5 =&gt; Ctrl + Opt + F13 =&gt; Toggle Touchpad</string>
						</dict>
					</array>
					<key>WMIEvents</key>
					<array>
						<dict>
							<key>ActionID</key>
							<integer>3</integer>
							<key>EventData</key>
							<integer>26</integer>
							<key>GUID</key>
							<string>ABBC0F72-8EA1-11D1-00A0-C90629100000</string>
							<key>Note</key>
							<string>Fn+F4 =&gt; Toggle airplane mode</string>
							<key>NotifyID</key>
							<integer>210</integer>
						</dict>
						<dict>
							<key>ActionID</key>
							<integer>3</integer>
							<key>EventData</key>
							<integer>27</integer>
							<key>GUID</key>
							<string>ABBC0F72-8EA1-11D1-00A0-C90629100000</string>
							<key>Note</key>
							<string>Fn+F4 =&gt; Toggle airplane mode</string>
							<key>NotifyID</key>
							<integer>210</integer>
						</dict>
						<dict>
							<key>ActionID</key>
							<integer>6</integer>
							<key>EventData</key>
							<integer>240</integer>
							<key>GUID</key>
							<string>ABBC0F72-8EA1-11D1-00A0-C90629100000</string>
							<key>Note</key>
							<string>Fn+F6, F7 =&gt; Keyboard backlight</string>
							<key>NotifyID</key>
							<integer>210</integer>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOACPIFamily</key>
		<string>1.0d1</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>io.github.goshin.VoodooWMI</key>
		<string>1.0</string>
	</dict>
</dict>
</plist>
