<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10K549</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleIntelE1000e</string>
	<key>CFBundleIdentifier</key>
	<string>com.insanelymac.driver.AppleIntelE1000e</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleIntelE1000e</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>3.3.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.3.6</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>10M2518</string>
	<key>DTSDKName</key>
	<string>macosx10.6</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>e1000e</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.insanelymac.driver.AppleIntelE1000e</string>
			<key>E1000_CTRL_TFCE</key>
			<true/>
			<key>E1000_DEFAULT_RXD</key>
			<integer>256</integer>
			<key>E1000_DEFAULT_TXD</key>
			<integer>256</integer>
			<key>IOClass</key>
			<string>AppleIntelE1000e</string>
			<key>IOPCIClassMatch</key>
			<string>0x02000000&amp;0xffff0000</string>
			<key>IOPCIPrimaryMatch</key>
			<string>0x10008086&amp;0x0000ffff</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>NETIF_F_TSO</key>
			<false/>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.5.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.7</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
