<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18A391012</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOGraphicsFamily</string>
	<key>CFBundleGetInfoString</key>
	<string>569.4, Copyright 2000-2017 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOGraphicsFamily</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>I/O Kit Graphics Family</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>569.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>569.4</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11M392u</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>10.15</string>
	<key>DTSDKBuild</key>
	<string>19D65</string>
	<key>DTSDKName</key>
	<string>macosx10.15internal</string>
	<key>DTXcode</key>
	<string>1100</string>
	<key>DTXcodeBuild</key>
	<string>11M392u</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleBacklightDisplay</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOGraphicsFamily</string>
			<key>IOClass</key>
			<string>AppleBacklightDisplay</string>
			<key>IOProbeScore</key>
			<integer>3000</integer>
			<key>IOProviderClass</key>
			<string>IODisplayConnect</string>
		</dict>
		<key>AppleDisplay</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOGraphicsFamily</string>
			<key>IOClass</key>
			<string>AppleDisplay</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IODisplayConnect</string>
		</dict>
		<key>IODisplayWrangler</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOGraphicsFamily</string>
			<key>IOClass</key>
			<string>IODisplayWrangler</string>
			<key>IOGraphicsIgnoreParameters</key>
			<dict>
				<key> bpc</key>
				<true/>
				<key>aums</key>
				<true/>
				<key>aupc</key>
				<true/>
				<key>auph</key>
				<true/>
				<key>aupp</key>
				<true/>
			</dict>
			<key>IOGraphicsPrefsParameters</key>
			<dict>
				<key>cyuv</key>
				<integer>268435456</integer>
				<key>oscn</key>
				<true/>
				<key>pscn</key>
				<true/>
				<key>tbri</key>
				<true/>
				<key>thue</key>
				<true/>
				<key>tsat</key>
				<true/>
				<key>vbst</key>
				<true/>
			</dict>
			<key>IOMatchCategory</key>
			<string>IOGraphics</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0b1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Safe Boot</string>
</dict>
</plist>
